/* stylelint-disable-next-line block-no-empty */

.gform_wrapper .gform_button,
.gform_wrapper .gform_next_button,
.gform_wrapper .gform_previous_button {
	background: var(--wp--preset--color--custom-rose-bloom) !important;
	color: #fff !important;
	border: 2px solid var(--wp--preset--color--custom-rose-bloom) !important;
	border-radius: 0 !important;
}

.gform_wrapper .gform_button:hover,
.gform_wrapper .gform_next_button:hover,
.gform_wrapper .gform_previous_button:hover {
	background: transparent !important;
	color: var(--wp--preset--color--custom-rose-bloom) !important;
}

.wp-block-button__link:hover {
	color: var(--wp--preset--color--custom-rose-bloom);
}

.wp-block-button.is-style-outline--2 .wp-block-button__link:hover {
	color: var(--wp--custom--global-button--hover--color--background) !important;
}

.wp-block-read-more {
	background: var(--wp--preset--color--custom-rose-bloom) !important;
	color: #fff !important;
	border: 2px solid var(--wp--preset--color--custom-rose-bloom) !important;
	border-radius: 0 !important;
	font-weight: 400;
}

.wp-block-read-more:hover {
	background: transparent !important;
	color: var(--wp--preset--color--custom-rose-bloom) !important;
}
